body {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    margin: 20px;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #3498db;
    margin: 0 15px;
    font-weight: bold;
}
.change {
    text-decoration: none;
    color: #3498db;
    margin: 0 15px;
    font-weight: bold;
}

main {
    padding: 20px;
}

.season-section {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    height: 100px; /*footer의 높이*/
    position: relative;
    transform: translateY(0%);
    border-top:1px solid #248efe;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
}
